<div>
  <table>

    <thead>
      <tr>
        <th>Key</th>
        <th>Type</th>
        <th colspan="2">Value</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="row in dataModel.pushDataRows">

        <td>
          <input type="text" ng-model="dataModel.pushDataRows[$index].key" />
        </td>

        <td>
          <select ng-model="dataModel.pushDataRows[$index].type"
                  ng-options="dataType for dataType in dataModel.supportedDataTypes"></select>
        </td>

        <td>
          <span ng-if="!pushRowIsBoolean($index)">
            <input type="text" ng-model="dataModel.pushDataRows[$index].value" />
          </span>

          <span ng-if="pushRowIsBoolean($index)">

            <label>
              True
              <input type="radio" ng-model="dataModel.pushDataRows[$index].value" ng-value="true">
            </label>

            <label>
              False
              <input type="radio" ng-model="dataModel.pushDataRows[$index].value" ng-value="false">
            </label>

          </span>
        </td>

        <td>
          <button ng-click="removeDataItem($index)">X</button>
        </td>

      </tr>
    </tbody>

  </table>

  <button ng-click="addDataItem()">Add Item</button>
</div>
